<div class="home-container">
	<div class="texto-home">
		<h1 class="titulo-home">Tire suas Dúvidas Acadêmicas!</h1>
		<%= link_to 'Cadastrar Agora', new_user_registration_path, class: 'botao-home-cadastrar' %>
	</div>
</div>