@import 'normalize.scss';
@import 'grid.scss';
@import 'variaveis.scss';

body{
	font-family: 'Noto Sans', sans-serif;
	color: $cor-base;
	font-size: 14px;
	height: 100vh;

}

.nav-bar{
	background-color: $cor-principal;
	padding: 25px 15px;
	.logo{
		float: left;
		background-image: Logo-AlunoAcademico-v2;		
	}

	.nav{
		width: 100%;
		max-width: 510px;
		float: right;
	}
	ul.nova-pergunta{
		float: left;
		margin-right: 15px;
		line-height: 30px;
		li{
			list-style: none;
			display: inline-block;
			

			.link-nav-nova{
				text-decoration: none;
				color: $cor-base;		
				padding: 5px 25px;
				border-radius: 20px;
				background-color: 	#218b58;
				transition: all .9s ease-in-out;
				-webkit-transition:all .9s ease-in-out;
				-moz-transition:all .9s ease-in-out;
				-o-transition:all .9s ease-in-out;
				box-shadow: rgba(30, 22, 54, 0.1) 300px 0px 0px 0px inset;
				&:hover{
					box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 0px inset;
					background-color: lighten(#218b58, 10%);
				}
			}
		}
	}


	
	.profile-picture{
		display: inline-block;
		float: left;

		img{
			border-radius: 50%;
			border: 2px solid $cor-base;
		}
	}
	
	.navigation{
		float: left;
		padding: 0 0 0 5px;
		display: inline-block;		
		line-height: 30px;
		


		li{
			list-style: none;
			display: inline-block;
			
			}


			.links{
				text-decoration: none;
				color: $cor-base;
				margin: 0 5px;
				a:visited {
    			color: $cor-base;
					}
				
			}

			.link-registration{
				color: $cor-base;
				text-decoration: none;
			}

			.link_nav_sair{
				@extend .botao-principal;
			}
		}

		.navigation-out{
			float: right;
			display: inline-block;
			padding: 0 0 0 5px;
			line-height: 30px;
			li{
				display: inline-block;
				a{
					text-decoration: none;
					color: $cor-base;
					margin-right: 15px;
				}
				a.link_nav_login{
					@extend .botao-principal;
				}
			}
		}
	
}

// HOME


.home-container{
	height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.texto-home{
		text-align: center;
		width: 70%;
		max-width: 1600px;
		margin: 0 auto;

		h1.titulo-home{
			font-family: $font-principal;
			font-size: 65px;
			color: $cor-principal;
			margin: 0 0 1.8rem;
			&::selection{
				background-color: $cor-principal;
				padding: 10px;
				color: $cor-base;
			}
		}

		.botao-home-cadastrar{
			@extend .botao-principal;
			font-size: 20px;
			padding: 10px 35px;
			border-radius: 30px;
			color: $cor-base;
			text-transform: uppercase;
			background-color: $cor-secundaria;

		}
	}
}


 // FOOTER


 .footer{
 	background-color: $cor-principal;
 	position: relative;
   left:0px;
   bottom:0px;
   padding: 10px;
   color: $cor-base;
   height:60px;
   width:100%;
   display: flex;
   align-items: center;

   a{
   	color: $cor-base;
   	text-decoration: none;

   }
 }



 /*CADASTRAR*/

.cadastro-container{

	background-color: $cor-principal;
	border-top: 3px solid $cor-base;
	border-bottom: 3px solid $cor-base;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.texto-cadastro{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	

		.inputs{
			float: left;
			width: 100%;
			padding: 15px;
			display: inline-block;
			margin: 0 0 5px 0;
		}
	
		.inputs::-webkit-input-placeholder {
	  			font-family: $font-secundaria;
	  			color: $cor-principal;
		}

		.inputs:-ms-input-placeholder {
	  			font-family: $font-secundaria;
	  			color: $cor-principal;
		}

		.inputs:-moz-placeholder {
	  			font-family: $font-secundaria;
	  			color: $cor-principal;
		}

		.inputs::-moz-placeholder {
	  			font-family: $font-secundaria;
	  			color: $cor-principal;
		}

	
		
		.botao-cadastrar{
			padding: 10px;
			width: 100%;
			margin-bottom: 5px;
			background-color: #218b58 !important;
			color: $cor-base;
			border: 0;
			display: block;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			transition: all .9s ease-in-out;
			-webkit-transition:all .9s ease-in-out;
			-moz-transition:all .9s ease-in-out;
			-o-transition:all .9s ease-in-out;
			box-shadow: rgba(30, 22, 54, 0.1) 1000px 0px 0px 0px inset;
			&:hover{
				box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 0px inset;
				background-color: darken($cor-secundaria, 10%);
			}
		}

		.botao-login-devise{
			@extend .botao-cadastrar;
			background-color: #218b58 !important;
			text-align: center;
			text-decoration: none;
		}

	 .botao-facebook{
				@extend .botao-cadastrar;
				text-align: center;
				text-decoration: none;
				background-color: #4267b2 !important;
			}

			.botao-forget{
				text-align: left;
				text-decoration: none;
				color: $cor-base;
			}
	.padding-up{
		margin-top: 20px;
	}
		
		
	
	
	
 }
 	

		.texto-cadastrar{
			font-family: $font-principal;
			color: $cor-secundaria;
			font-size: 35px;
		}


.link-edite{
	margin: 10px 0;
	background-color: darken($cor-secundaria, 30%);
	padding: 7px 15px;
	border: 1px solid $cor-principal;
	color: $cor-base;
	cursor: pointer;
}

.link-edit{
	color: $cor-base;
	text-decoration: none;
	font-size: 15px;

}
