$cor-principal: #353961;
$cor-secundaria: #e84f62;
$cor-base: #FFFFFF;

$font-principal: 'Carter One', cursive;
$font-secundaria: 'Noto Sans', sans-serif;

$cor-perguntas: #2b2d42;
$cor-respostas: #6c6f91;
$cor-categorias: #2b2d42;

$cor-botoes: #e84f62;
$cor-botao-novo: #218b58;


.botao-principal{
	background-color:$cor-secundaria;
	padding: 5px 25px;
	border-radius: 20px;
	text-decoration: none;
	transition: all ease-in-out .3s;
	&:hover{
		background-color: darken($cor-secundaria, 10%);
	}
}